<h2>@ViewData["Title"]</h2>


<p><b>Forecast </b>Date: @Model.forecastDate</p>

<p><b>Location: </b>@Model.location</p>

<p><b>Temperature: </b>@Model.temperature</p>

<p><b>Feels Like: </b>@Model.feelsLike</p>

<p><b>Desciptor: </b>@Model.descriptor</p>

<p><b>Image Path: </b>@Model.imagePath</p>

<p><b>Wind Speed: </b>@Model.windSpeed</p>

<p><b>Wind Direction: </b>@Model.windDirection</p>

<p><b>Pressure: </b>@Model.pressure</p>

<p><b>Visibility: </b>@Model.visibility</p>

<p><b>Clouds: </b>@Model.clouds</p>

<p><b>Humidity: </b>@Model.humidity</p>

<p><b>Rainfall: </b>@Model.rainfall</p>

<p><b>Snowfall: </b>@Model.snowfall</p>